<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
       <web-resource-collection>
         <web-resource-name>All Access</web-resource-name>
         <url-pattern>/person/*</url-pattern>
         <url-pattern>/user/*</url-pattern>
         <url-pattern>/event/*</url-pattern>
         <http-method>DELETE</http-method>
         <http-method>PUT</http-method>
         <http-method>HEAD</http-method>
         <http-method>OPTIONS</http-method>
         <http-method>TRACE</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
       </web-resource-collection>
       <user-data-constraint>
         <transport-guarantee>NONE</transport-guarantee>
       </user-data-constraint>
    </security-constraint>

</web-app>
